*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow:none;
    scroll-behavior: smooth;
}   
/* body > * {
    transition:0.4s;
    -webkit-transition:0.4;
    -moz-transition:0.4;
    -ms-transition:0.4;
    -o-transition:0.4;
} */
body{
    overflow:none;

}
/* common css start */
::selection{
    background-color:wheat;
    color:black;
    
}
:root{
    --square-btn-color:rgb(0, 89, 255);
    --text-color:black;
    --btn-text-color:white;
    --header-footer-bg-color:white;
    --pinkbox:wheat;
    --pinkabsolutebox:rgb(251, 236, 213);
    --whitebox-color:white;
    

}
.Light-Dark-Mode{
    --square-btn-color:rgb(255, 255, 255);
    --text-color:rgb(255, 255, 255);
    --btn-text-color:rgb(0, 0, 0);
    --header-footer-bg-color:rgb(0, 0, 0);
    --pinkbox:rgb(204, 183, 144);
    --pinkabsolutebox:rgb(201, 178, 143);
    --whitebox-color:rgb(0, 0, 0);
    transition:  5s linear;
    -webkit-transition:  5s linear;
    -moz-transition:  5s linear;
    -ms-transition:  5s linear;
    -o-transition:  5s linear;
} 



    .square{
        background-color: var(--square-btn-color);
        width: 24px;
        height: 24px;
        border-radius:2px;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        -ms-border-radius:2px;
        -o-border-radius:2px;
        cursor: pointer;
}
    .btn{
        background-color: var(--square-btn-color);
        padding:0.5rem 1rem;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        color:var(--btn-text-color);
        text-decoration: none;
    }
    .btn:hover {
        background-color: rgb(255, 255, 255); 
        color:black;   
        border: 0.1rem solid rgb(0, 89, 255);  
    }
   
    #PreLoader{
        position:fixed;
        width:100%;
        height:100vh;
        background: #fff  url(../Img/Dual\ Ball-1s-81px.gif) no-repeat  center;
        z-index: 1;   
}

/* common css end */



/* header start */

#header-customization{
    display: flex;
    flex-wrap: wrap;
    width:100vw;
    height:6rem;
    justify-content: space-between;
    align-items: center;
    padding:0.4rem;
    background-color:var(--header-footer-bg-color);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    left: 0;
    color:var(--text-color);
    
}
.logo{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    width: 35%;
}
.logo-text{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0px;
    /* text-shadow: 0px 0px 2px rgb(63, 151, 192); */
}
.slash{
    font-size:1rem;
    text-shadow: 1px 1px 0px var(--text-color);
}
.logo-spare-text{
    font-size: 1rem;
    letter-spacing: 1px;
}
#nav-link{
   display: flex;
   z-index: 1;
}
#hamburger-toggle{
    display:none;
 }
.ul-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
   
}

nav ul li {
    padding:0rem 0.6rem;
    color:var(--text-color);
    flex-wrap: wrap;
    text-decoration: none;
    
}
nav ul li :hover {
    color:rgb(0, 89, 255);
    transition: color 0.60s;
    cursor: pointer;
}
nav ul li a {
    font-weight: bold;
    letter-spacing:1px;
    font-size: 0.7rem;
    text-decoration: none;
    color:var(--text-color);
}
#icon {
    width:auto;
    height: auto;
    margin-left:0.7rem;
    cursor:pointer;
    position:relative;
}
/* #icon span{
    font-size:0.8rem;
    position:inherit;
    top:-16px;
    opacity:0;
    color:var(--square-btn-color);
}
#icon:hover > span{
    opacity:1;
} */

/* header end */

 

/* main section start */

#content-box{
    width:100vw;
height: 100vh;
position: relative;
display: flex;
z-index: -1;
}

#left-bgcolor-box{
 background-color: var(--pinkbox);
 flex: 0.6;
}

.pinkabsolutebox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;

    position: absolute;
    top: 50%;
    left: 35%;
    transform:translate(-50%,-50%);
    height: 475px;
    width:18rem;

    background-color: var(--pinkabsolutebox);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
    color:var(--text-color);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
#img-in-circle{
    /* display:block; */
    width:9rem;
    height:9rem;
    border-radius:50%;
    object-fit: cover;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.pinkabsolutebox #text-box{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
   
}

.box-text{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-shadow: 0.5px 0.5px 0px rgb(64, 68, 77);;
}
.box-spare-text{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
 #text-box .absolute-footer{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    position:absolute;
    bottom: 0;
    height: 3rem;
}
 #text-box .absolute-footer img{
    width: 35px;
    height: 35px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    text-shadow: 0px 0px 2px rgb(63, 151, 192);
}

#right-bgcolor-box{
    flex:1;
    background-color: var( --whitebox-color);
    color:var(--text-color);
}

.whiteabsolutebox{
    position: absolute;
    top: 50%;
    left: 60%;
    transform:translate(-50%,-50%);
    width: 15rem;
    height: 475px;
    color:var(--text-color);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.whiteabsolutebox #boxwithtext{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 15rem;
    height: 475px;
}
.whiteabsolutebox #boxwithtext h1{
    font-size:5rem; 
    text-shadow: 4px 1px 2px rgb(73, 75, 80);

}
.whiteabsolutebox #boxwithtext p{
    
    font-size:0.8rem;
    letter-spacing: 0.1rem;
    word-spacing:0.1rem;
    line-height:1.1rem;
}

/* main section end */



/* footer start */

footer{
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content:center;
    padding: 0px;
    align-items:center;
    column-gap: 2rem;
    flex-wrap: wrap;
    background-color:var(--header-footer-bg-color);
    color:var(--text-color);
    
}
footer div {
    padding: 0px 30px;
    letter-spacing:2px;
    word-spacing: 5px;
    cursor:pointer;
}

/* footer end */



/* Media Queries */
/* For Mobile Devices */


@media (min-width:279px) and (max-width:750px){
  
    .square{
     
        width: 0.8rem;
        height: 0.8rem;
    }
    .btn{
        padding:0.4rem 0.5rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
    }
    .btn:hover {
        background-color: rgb(255, 255, 255); 
        color:black;   
        border: 0.1rem solid rgb(0, 89, 255);  
    }
    .none{
        display: none;
    }
    html>*>body{

        overflow:none;

 }
    body{
        margin:0.5px;
    }

    /* Header Start */
    #header-customization{
        width: 100%;
        height: 104px;
        justify-content: space-around;
        padding: 0px;  

    }
    .logo{
        width: 60%;
        justify-content:center;
        column-gap:1rem;
    }
    .logo-text{
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0px;
        /* text-shadow: 0px 0px 2px rgb(63, 151, 192); */
    }
    .slash{
        font-size:18px;
        text-shadow: 1px 1px 0px var(--text-color);
    }
    .logo-spare-text{
        font-size: 0.5em;
        letter-spacing: 1px;
    }

    #nav-link{
        display: flex;
        z-index: 100;
     }
    #hamburger-toggle{
         display:block;
         cursor:pointer;
         color:var(--text-color);
      }
    #hamburger-toggle:hover{
         color: rgb(0, 89, 255);
         cursor:pointer;
      }
    .ul-items{
         display: none;
         align-items: center;
         flex-wrap: wrap;
         justify-content: center;
         list-style-type: none;
         height:100vh;
    }
    .toggle-nav-items{
        display: grid;
        place-items:center;
        position:fixed;
        top:0;
        right:0;
        background-color:rgba(0,0,0,0.9);
        width:40%;
        height:100vh;
        z-index:-100;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
        padding:2rem;
       padding-top:3rem;
}
    
     nav ul li a {
         font-weight: bold;
         letter-spacing:1px;
         font-size: 0.7rem;
         color:rgb(221, 207, 207);
         padding:0rem;
     }
     nav ul li a:hover {
        color:rgb(0, 89, 255);    
     }
     #icon {
        display:block;
        color:white;
     }
     /* Header End */
     

    /* Main Section */
    #content-box{
        height: 36rem;
        flex-direction:column;
        }

    #left-bgcolor-box{
            flex: 0.7;
           }
            
    .pinkabsolutebox{
        width:15rem;
        left: 50%;
        top:35%;
        height: 21rem;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
    }

    .box-text{
        margin: 2px;
    }
    .box-spare-text{

        margin: 5px;
        display:none;
        font-weight: normal;
    }

    #right--bgcolor-box{
        flex:0.3;
    }

    .whiteabsolutebox{
        top: 83%;
        left: 50%;
        width: 15rem;
        height: 25rem;

    }
    .whiteabsolutebox #boxwithtext{
        justify-content: center;
    }
    .whiteabsolutebox #boxwithtext h1{
        font-size:2.5rem; 
        letter-spacing:0.3rem;
    }
    .whiteabsolutebox #boxwithtext p{
        margin-top: 0.5rem;
        width: 100%;
    }
    .whiteabsolutebox #boxwithtext .btn{
        font-size:0.5rem;
        margin-top: 0.5rem;
    }
    /* Main Section End */

    /* Footer Start */
    footer{
        height: 4rem;
        column-gap: 1rem;
        border-top: 2px solid #ccc;
        transform: translateY(1.8rem);
        -webkit-transform: translateY(1.8rem);
        -moz-transform: translateY(1.8rem);
        -ms-transform: translateY(1.8rem);
        -o-transform: translateY(1.8rem);
}
    footer div {
        padding: 0px 0x;
    }
    /* Footer End */
}



    
/* Medium size devices */
@media (min-width: 751px) and (max-width: 1024px) {

    .square{
        width: 1rem;
        height: 1rem;
    }
    .btn{
        padding:0.4rem 0.5rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
    }
    .btn:hover {
        background-color: rgb(255, 255, 255); 
        color:black;   
        border: 0.1rem solid rgb(0, 89, 255);  
    }
    .none{
        display: block;
    }
    html>body{

        overflow:none;

 }
    body{
        margin:0.5px;
    }

    /* Header Start */
    #header-customization{
        width: 100%;
        height: 104px;
        justify-content: space-between;
        padding: 0rem 1rem;  
    }
    .logo{
        width: 40%;
        justify-content:space-around;
    }
    .logo-text{
        font-size: 1.2rem;
    }
    .slash{
        font-size:1.2rem;
       
    }
    .logo-spare-text{
        font-size: 0.6rem;
        letter-spacing: 1px;
    }

    #nav-link{
        display: flex;
        z-index: 100;
     }
    #hamburger-toggle{
         display:block;
         cursor:pointer;
         color:var(--text-color);
      }
    #hamburger-toggle:hover{
         color: rgb(0, 89, 255);
         cursor:pointer;
      }
    .ul-items{
         display: none;
         align-items: center;
         flex-wrap: wrap;
         justify-content: center;
         list-style-type: none;
         height:100vh;
    }
    .toggle-nav-items{
        display: grid;
        place-items:center;
        position:fixed;
        top:0;
        right:0;
        background-color:rgba(0,0,0,0.9);
        width:40%;
        height:100vh;
        z-index:-100;
        padding:2rem;
       padding-top:3rem;
    }
    
    nav ul li a {
         font-weight: bold;
         letter-spacing:1px;
         font-size: 0.8rem;
         color:rgb(221, 207, 207);
         padding:0rem;
    }
    nav ul li a:hover {
        color:rgb(0, 89, 255);    
    }
    #icon {
        display:block;
        color:white;
    }
    /*Header End */ 


    /* Main Section Start */
    #content-box{
        height: 33rem;
        flex-direction:row;
        }

    #left-bgcolor-box{
            flex: 0.7;
           }
            
    .pinkabsolutebox{
        width:15rem;
        left: 35%;
        top:45%;
        height: 450px;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
    }

    .box-text{
        margin: 2px;
    }
    .box-spare-text{
        font-weight: normal;
        margin: 5px;
    }

    #right--bgcolor-box{
        flex:0.3;
    }

    .whiteabsolutebox{
        top: 45%;
        left: 76%;
        width: 15rem;
        height: 500px;

    }
    .whiteabsolutebox #boxwithtext{
        justify-content: center;
    }
    .whiteabsolutebox #boxwithtext h1{
        font-size:4rem; 
        letter-spacing:0.3rem;
    }
    .whiteabsolutebox #boxwithtext p{
        margin-top: 0.5rem;
        width: 100%;
    }
    .whiteabsolutebox #boxwithtext .btn{
        font-size:0.6rem;
        margin-top: 0.5rem;
    }
    /* Main Section End */

    /* Footer Start */
    footer{
        height: 4rem;
        column-gap: 2rem;
        padding-top: 10px;   
        justify-content: center; 
    }
    footer .none{
       display: none;
    }
    /* Footer End */
}

@media (min-width: 851px) and (max-width: 950px){

    .whiteabsolutebox{
        top: 45%;
        left: 72%;
        width: 15rem;
        height: 500px;

    }
}
@media (min-width: 951px) and (max-width: 1024px){

    .whiteabsolutebox{
        top: 45%;
        left: 68%;
        width: 15rem;
        height: 500px;

    }
}


/* For Large Devices */

@media (min-width: 1024px) and (max-width: 1420px){

    .square{
        width: 1rem;
        height: 1rem;
    }


    #header-customization{
        padding:0.3rem;
        font-size:1rem;
    }
    .logo{
        justify-content:space-evenly;
        padding: 0px;
        width: 34%;
    }
    .logo-text{
        font-size: 1.3rem;
        letter-spacing: 0px;
    }
    .slash{
        font-size:1rem;
    }
    .logo-spare-text{
        font-size: 0.7rem;
        letter-spacing: 1px;
        font-weight: normal;
    }

    .ul-items{
        justify-content: space-around;
    }

    nav ul li {
        padding:0rem 0.7rem; 
    }

    nav ul li a {
        font-weight: normal;
    }
    #icon {
    
        margin-left:0.3rem;
        margin-right:0.7rem;
    }
    #icon .fas{
    font-size:1.5rem;
    }
    /* header end */

    

    /* main section start */

    #content-box{
    height: 105vh;
    position: relative;
    }

    #left-bgcolor-box{
    background-color: var(--pinkbox);
    flex: 0.6;
    }

    .pinkabsolutebox{
        top: 52%;
        left: 35%;
        transform:translate(-52%,-50%);
        height: 475px;
        width:17rem;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -ms-border-radius:4px;
        -o-border-radius:4px;
        -webkit-transform:translate(-52%,-50%);
        -moz-transform:translate(-52%,-50%);
        -ms-transform:translate(-52%,-50%);
        -o-transform:translate(-52%,-50%);
    }
    .box-text{
        font-size: 1.3rem;
        font-weight: bold;
    }
    .box-spare-text{
        font-size: 1.1rem;
        font-weight: normal;
        
    }
    #text-box .absolute-footer{
        height: 3.5rem;
    }
    #text-box .absolute-footer img{
        width: 35px;
        height: 35px;
        border-radius:0%;
        -webkit-border-radius:0%;
        -moz-border-radius:0%;
        -ms-border-radius:0%;
        -o-border-radius:0%;
        cursor:pointer;
    }

    .whiteabsolutebox{
        top: 50%;
        left: 66.5%;
        width: 15rem;
        height: 475px;
        margin-top:1rem;
    }
    .whiteabsolutebox #boxwithtext h1{
        font-size:4.5rem; 
    } 
    .whiteabsolutebox #boxwithtext p{
        
        font-size:0.7rem;
        word-spacing:0.3rem;
        line-height:1rem;
    }

    /* main section end */



    /* footer start */

    footer{
        height: 4.5rem;
        column-gap: 4rem;
    }
    footer{
        font-size:0.7rem;
        column-gap: 2rem;
        /* position:fixed; 
        width:50px;
        height:100vh;
        right:0;
        top:20px;
        z-index: 2000;
        background:transparent; */

    }
    footer .slash{
        font-size:1rem;
    }
    footer .fas{
        font-size:1rem;
    }
    footer div {
        padding: 0px 0px;
    }

    /* footer end */

}
@media (min-width: 1124px) and (max-width: 1284px){

    .whiteabsolutebox{
        left: 63%;
    }
}
@media (min-width: 1285px) and (max-width: 1420px){

    .whiteabsolutebox{
        left: 60%;
    }
}

